.divider-daily-pokemon-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-daily-pokemon-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.divider-daily-pokemon-top .shape-fill {
  fill: #FFFFFF;
}

.divider-daily-pokemon-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-daily-pokemon-bottom svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 150px;
}

.divider-daily-pokemon-bottom .shape-fill {
  fill: #FFFFFF;
}